{
  "env": {
    "mocha": true,
    "es6": true, 
  },
  "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true,
      "modules": true
  },
  "plugins": [
      "react"
  ],
  "rules": {
      "no-undef": 0,
      "comma-dangle": 1,
      "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
      "no-console": 0,
      "no-unused-vars": 0,
      "no-extra-semi": 0,
  }
}
