$navy: #0d2038;

body {
  font-size: 16px;
  color: $navy;
}

.navbar-inverse.navbar {
  background-color: #EB6864;
}

<% if (installType == "auth") {
%>.navbar .required-permissions a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}<% } %>
