/**
 * Badges
 */
.badge-card {
  width: 32%;
  margin-right: 1%;
  margin-bottom: 3% !important; // Override well margin. @todo might be easier to just create own well-style div
  background-color: #E9E9E9 !important; // Override well color
  display: inline-block;
  min-height: 120px;
  position: relative;
  -ms-transform: scale(0.98, 0.98); /* IE 9 */
  -webkit-transform: scale(0.98, 0.98); /* Chrome, Safari, Opera */
  transform: scale(0.98, 0.98);
  border: 3px solid rgba(0, 0, 0, 0) !important;

  &:hover {
    background-color: #F2F2F2 !important;
    -ms-transform: scale(1.00, 1.00); /* IE 9 */
    -webkit-transform: scale(1.00, 1.00); /* Chrome, Safari, Opera */
    transform: scale(1.00, 1.00);
  }

  img {
    max-width: 50%;
    max-height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 83px;
  }

  .badge-information {

    p {
      text-align: center;
      margin-bottom: 0px;
      font-size: 12px;
    }
  }

  .delete-badge {
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #7E0A1E;
  }

  .reactivate-badge {
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #167e06;
  }
}

.badge-card-hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #000000;
}

.badge-uploader-hr {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-top: 1px solid #000000;
  width: 91%;
  margin: 0 auto;
}

.badge-uploader-header {
  padding-left: 5%;
}

.selected-badge-card {
  border: 3px solid #33cc33 !important;
}
