/**
 * Challenge
 */
.challenge-curriculum-badge-image-sidebar {
  width: 75%;
  padding-bottom: 10px;
}

.challenge-curriculum-badge-label {
  text-align: center;
}

.challenge-curriculum-badge-label-challenge {
  line-height: 93px;
  font-size: 25px;
}
