/**
 * THIS IS BAD
 * @TODO: KILL ME WITH FIRE
 */

#content > h1 {
  margin-left: 15px;
}
.panel-heading.btn-group {
  margin: 0;
  width: 100%;
  text-align: left;

  button {
    padding-left: 0;
  }
}

td {
  white-space: pre;
  word-break: break-word;
  max-width: 500px;
}

.success {
  color: #009688;
}
.error {
  color: red;
}

.btn-group {
  button {
    &.active {
      background: rgba(0, 0, 0, .075) !important;
    }
  }
}

tr.unread {
  font-weight: bold;
}

.activity-table-image {
  height: auto;
  width: 150px;
}

.row {
  &.odd {
    background: #f9f9f9;
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
  }
  &.even {
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
  }
}

.session-details {
  list-style: none;
  margin: 0;
  padding: 0;

  label {
    width: 100px;
    margin-right: 20px;
  }
}

.session-preview {
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
    display: table-cell;
    font-weight: bolder;

    &.session-preview-header {
      font-weight: 200;
      font-size: 18px;
    }
  }

  .row {
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }
}

.selected-option .btn,
.typeahead-select .more-info {
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 0px;
  padding: 10px;
  margin: 0 20px;
  font-weight: 200;
}



@font-face {
  font-family: 'VistaSansReg';
  font-style: normal;
  font-weight: 100;
  /* @todo url for font */
  src: local('VistaSansReg'), local('VistaSansReg'), url(https://fonts.gstatic.com/s/robotodraft/v2/hope9NW9iJ5hh8P5PM_EA2zZpt1Zv2lgqhgSPQ2HnUo.woff2) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::-webkit-scrollbar {
  display: none;
}

/**
 * Filter component override
 */
.filter-component-header {
  margin-top: 20px;
}

/**
 * Legal disclaimer
 */
.legal-preview-image {
  padding: 0;
}

.legal-overlay-container {
  position: relative;

  img {
    height: 850px;
  }

  div {
    position: absolute;
    top: 10%;
    bottom: 22%;
    left: 5%;
    overflow: scroll;
    color: #FFFFFF;
    font-family: VistaSansReg;
    font-size: 15px;

    p {
      padding-top: 5px;
    }
  }
}

/**
 * Subscriber page
 */
.subscriber-modal-body {
  p {
    padding-top: 10px;
  }
}

/**
 * Cast management page
 */
.movement-image {
  display: inline;
  float: left;
  padding-left: 10%;
  width: 50%;

  img {
    background-color: #303f9f;
    border-radius: 100px;
  }

  p {
    font-size: 11px;
  }
}

.cast-management-section {
  .panel-body {
    border-right: 1px solid rgb(215, 215, 215);
    border-left: 1px solid rgb(215, 215, 215);
  }

  .panel-body:last-child {
    border-bottom: 1px solid rgb(215, 215, 215);
  }

  .collapsed {
    display: none;
  }
}

.cast-management-section .section-heading {
  background-color: #eeeeee;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.cast-movement-checkboxes {
  display: inline-block;
  width: 25%;
}

.cast-management-movement {
  position: relative;

  img {
    position: absolute;
    top: -38px;
    left: 30px;
    background-color: #303f9f;
    border-radius: 100px;
  }

  span {
    position: absolute;
    left: 33px;
    top: 13px;
  }
}

.recording-progress-bar {
  height: 15px;
  margin-top: 13%;
}

.cast-library-genre {
  font-size: 12px;
  margin-bottom: 5px;
}

.cast-library-warning {
  color: #F42220;
}

/**
 * Movement Library
 */
.movement-library-image {
  background-color: #303f9f;
  border-radius: 100px;
  width: 65px;
}

.movement-library-label{
  width: 50%;
}

/**
 * Music Library
 */
.track-card {
  width: 32%;
  margin-right: 1%;
  margin-bottom: 3% !important; // Override well margin. @todo might be easier to just create own well-style div
  background-color: #E9E9E9 !important; // Override well color
  display: inline-block;
  height: 120px;
  position: relative;

  &:hover {
    background-color: #F2F2F2 !important;
    -ms-transform: scale(1.02, 1.02); /* IE 9 */
    -webkit-transform: scale(1.02, 1.02); /* Chrome, Safari, Opera */
    transform: scale(1.02, 1.02);
  }

  img {
    width: 25%;
    display: inline-block;
    min-height: 71px;
    border: 1px solid #000000;
  }

  .track-information {
    text-align: right;

    p {
      margin-bottom: 0px;
      font-size: 12px;
    }
  }

  .delete-track {
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #7E0A1E;
  }
}

/**
 * Loaders
 */
.music-library-loader {
  margin-left: 50% !important;
}

.album-loader {
  margin-left: 60% !important;
  margin-bottom: 9% !important;
  margin-top: 8% !important;
}

.add-track-file {
  margin-top: 15px;
}

.select-track-section {
  margin-top: 4%;
}

@import "partials/badges";
@import "partials/playlists";
@import "partials/challenge";
@import "partials/dashboard";
